.header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__item:last-child {
  margin-left: 40px;
}

.header__form {
  min-width: 50%;
}

.header__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 20px;
  border: none;
}
