.left-menu {
  position: fixed;
  background-color: #2f3032;
  height: 100%;
  text-align: center;
}

.logo {
  display: block;
  padding: 35px 56px 35px 55px;
}

.left-menu__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  height: 100%;
}

.left-menu__list {
  margin: 0;
  margin-bottom: auto;
  padding: 0;
  list-style: none;
}

.left-menu__link {
  display: block;
  padding: 13px;
  font-size: 14px;
  text-transform: uppercase;
  color: #efefef;
  &--toggle,
  &:hover,
  &:focus {
    background-color: #252628;
    box-shadow: 3px 0 0 0 #d9be8f inset;
  }
}

.left-menu__language {
  display: flex;
  justify-content: center;
}

.switch-btn {
  display: block;
  margin-bottom: 25px;
  color: #efefef;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  &--toggle,
  &:hover,
  &:focus {
    color: #737373;
  }
}

@media (min-width: $tablet-size) and (max-width: $desktop-size) {
  .left-menu {
    position: static;
  }
  .logo {
    display: inline-block;
    padding: 0;
    margin-right: 20px;
  }
  .left-menu__nav {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .left-menu__list {
    display: flex;
    margin-bottom: 0;
  }
  .left-menu__wrapper {
    margin-left: auto;
    .social {
      display: none;
    }
  }
  .switch-btn {
    margin-bottom: 0;
  }
  .left-menu__link:hover,
  .left-menu__link:focus {
    background-color: transparent;
    box-shadow: 0 -3px 0 0 #d9be8f inset;
  }
}
