.recipes-filter {
  margin-bottom: 80px;
}

.multifilter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.multifilter__item {
  width: 155px;
  margin-right: -1px;
  padding: 10px 15px 12px 15px;
  border: 1px solid #dedede;
  color: #5d5d5d;
  cursor: pointer;
  appearance: none;
}

.multifilter__option {
  font: inherit;
}

.multifilter__wrapper {
  position: relative;
}

.multifilter__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 10px;
  height: 6px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='gray'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}

.multifilter__item--right {
  width: 142px;
  margin-right: 0;
}

.multifilter-more__btn {
  display: block;
  padding: 12px 17px 12px 18px;
  margin-left: 14px;
  color: #fff;
  background-color: #c7b084;
  transition: 0.2s;
  &:hover,
  &:focus {
    background-color: #daaf5f;
    box-shadow: 0px 0px 5px 1px rgba(218, 175, 95, 0.75);
  }
}

.recipes-filter__right {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}

.recipes-filter__wrapper {
  margin: 0;
}

.recipes-filter__view {
  display: grid;
  margin-top: 13px;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipes-filter__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9px 12px;
  background-color: gray;
  min-height: 267px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.4s;
  &:hover {
    .recipes-filter__about {
      font-size: 19px;
      padding-top: 10px;
      padding-bottom: 10px;
      &::before {
        height: 19px;
      }
    }
  }
}

.recipes-filter__item--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 409px;
}

.recipes-filter__item--first {
  grid-column: 1/3;
  background-image: url("../../img/first.jpg");
}

.recipes-filter__item--second {
  grid-column: 3/5;
  background-image: url("../../img/second.webp");
}

.recipes-filter__item--third {
  grid-column: 1/3;
  grid-row: 2/3;
  background-image: url("../../img/third.jpg");
}

.recipes-filter__item--fourth {
  background-image: url("../../img/fourth.jpg");
}

.recipes-filter__item--fifth {
  background-image: url("../../img/fifth.jpg");
}

.recipes-filter__item--six {
  background-image: url("../../img/six.jpg");
}

.recipes-filter__item--seven {
  background-image: url("../../img/seven.jpg");
}

.recipes-filter__item--eight {
  grid-column: 3/5;
  grid-row: 3/4;
  background-image: url("../../img/eight.jpg");
  background-position: top center;
}

.recipes-filter__head--title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.19px;
  color: #fff;
}

.recipes-filter__description {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  color: #fff;
  order: -1;
}

.recipes-filter__text {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 6px 11px;
  font-size: 19px;
  text-transform: uppercase;
  color: #333;
  background-color: #fff;
}

.recipes-filter__about {
  position: relative;
  display: inline-block;
  padding: 3px 18px 3px 42px;
  font-size: 0;
  text-transform: uppercase;
  background-color: #2f3032;
  color: #fff;
  order: -1;
  transition: 0.4s;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9.5px;
    background-image: url("../../img/cap.png");
    width: 19px;
    height: 0;
    transition: 0.2s;
  }
}

.multifilter__flex {
  justify-content: flex-start;
  display: flex;
  margin-right: auto;
  margin-bottom: 20px;
}

@media (max-width: 1334px) {
  .recipes-filter__right {
    margin-right: auto;
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (min-width: $tablet-size) and (max-width: $desktop-size) {
  .multifilter {
    justify-content: center;
  }
  .multifilter__item {
    margin-bottom: 10px;
    margin-right: -1px;
  }
  .multifilter__item--right {
    width: 155px;
  }
  .multifilter-more__btn {
    width: 155px;
    text-align: center;
    margin-left: 0;
  }
  .recipes-filter__right {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}
