@font-face {
  font-family: "PFDinTextCompPro";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/PFDinTextCompPro-Regular.woff2") format("woff2"),
       url("../fonts/PFDinTextCompPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "PFDinTextCompPro";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/z-PFDinTextCompPro-Bold.woff2") format("woff2"),
       url("../fonts/z-PFDinTextCompPro-Bold.woff2") format("woff");
}
